[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
[user]
	name = Jakub Błach
	email = jakubblach@gmail.com
[core]
	editor = nano
