*background: #222D31
*foreground: #d8d8d8
*color0: #222D31
*color1: #ab4642
*color2: #7E807E
*color3: #f7ca88
*color4: #7cafc2
*color5: #ba8baf
*color6: #1ABB9B
*color7: #d8d8d8
*color8: #585858
*color9: #ab4642
*color10: #8D8F8D
*color11: #f7ca88
*color12: #7cafc2
*color13: #ba8baf
*color14: #1ABB9B
*color15: #f8f8f8
URxvt*cursorBlink: true
URxvt*scrollBar: false
URxvt*font: xft:Source Code Pro
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
